# MINOR PROJECT
   Name: Shashank N
   Email ID: shashanknraj456@gmail.com

In [43]:
import pandas as pd
import numpy as np

In [44]:
df = pd.read_csv("tmdb-movies.csv")

In [45]:
df.head()

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
0,135397,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,http://www.jurassicworld.com/,Colin Trevorrow,The park is open.,...,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/15,5562,6.5,2015,1.379999e+08,1.392446e+09
1,76341,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,http://www.madmaxmovie.com/,George Miller,What a Lovely Day.,...,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/15,6185,7.1,2015,1.379999e+08,3.481613e+08
2,262500,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,http://www.thedivergentseries.movie/#insurgent,Robert Schwentke,One Choice Can Destroy You,...,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/15,2480,6.3,2015,1.012000e+08,2.716190e+08
3,140607,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,http://www.starwars.com/films/star-wars-episod...,J.J. Abrams,Every generation has a story.,...,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/15,5292,7.5,2015,1.839999e+08,1.902723e+09
4,168259,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,http://www.furious7.com/,James Wan,Vengeance Hits Home,...,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/15,2947,7.3,2015,1.747999e+08,1.385749e+09

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10866 entries, 0 to 10865
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    10866 non-null  int64
 1   imdb_id               10856 non-null  object
 2   popularity            10866 non-null  float64
 3   budget                10866 non-null  int64
 4   revenue               10866 non-null  int64
 5   original_title        10866 non-null  object
 6   cast                  10790 non-null  object
 7   homepage              2936 non-null   object
 8   director              10822 non-null  object
 9   tagline               8042 non-null   object
 10  keywords              9373 non-null   object
 11  overview              10862 non-null  object
 12  runtime               10866 non-null  int64
 13  genres                10843 non-null  object
 14  production_companies  9836 non-null   object
 15  release_date          10866 non-null  object
 16  vote_count            10866 non-null  int64
 17  vote_average          10866 non-null  float64
 18  release_year          10866 non-null  int64
 19  budget_adj            10866 non-null  float64
 20  revenue_adj           10866 non-null  float64
dtypes: float64(4), int64(6), object(11)
memory usage: 1.7+ MB

In [47]:
# Removing the movies whose budget is less than 10000
df = df[df["budget"] > 10000]
df.sort_values(["budget"])

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
4836,157305,tt2391009,0.134777,10400,0,Head Over Heels,Nigel Anthony|Ruth Rayyah McCaul,http://www.headoverheelsfilm.com,Timothy Reckart,Sometimes you can't agree which way is up.,...,"After many years of marriage, Walter and Madge...",10,Family|Animation|Comedy|Romance,National Film and Television School (NFTS),5/24/12,10,6.6,2012,9.877341e+03,0.000000e+00
7277,692,tt0069089,0.412913,12000,6000000,Pink Flamingos,Divine|David Lochary|Mary Vivian Pearce|Mink S...,NaN,John Waters,An exercise in poor taste.,...,Notorious Baltimore criminal and underground f...,93,Comedy,Dreamland Productions,3/12/72,51,6.3,1972,6.257473e+04,3.128737e+07
7447,23827,tt1179904,1.120442,15000,193355800,Paranormal Activity,Katie Featherston|Micah Sloat|Mark Fredrichs|A...,http://www.paranormalactivity-movie.com/,Oren Peli,What Happens When You Sleep?,...,"After a young, middle class couple moves into ...",86,Horror|Mystery,Blumhouse Productions|Solana Films,9/14/07,714,6.1,2007,1.577503e+04,2.033462e+08
6459,15493,tt0472566,0.204153,16398,0,Star Wreck: In the Pirkinning,Samuli Torssonen|Atte Joutsen|Timo Vuorensola|...,http://www.starwreck.com/,Timo Vuorensola,NaN,...,Star Wreck: In the Pirkinning begins with Capt...,103,Science Fiction|Action|Comedy,Energia Productions,8/20/05,13,7.1,2005,1.830940e+04,0.000000e+00
3785,58699,tt1242599,0.195283,17000,101236,Bellflower,Evan Glodell|Jessie Wiseman|Tyler Dawson|Rebek...,http://www.coatwolf.com/,Evan Glodell,A love story with apocalyptic stakes.,...,Two friends spend all their free time building...,106,Action|Drama|Romance,Coatwolf Productions,4/16/11,24,6.7,2011,1.647977e+04,9.813798e+04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6570,1452,tt0348150,1.957331,270000000,391081192,Superman Returns,Brandon Routh|Kevin Spacey|Kate Bosworth|James...,http://www.superman.com,Bryan Singer,NaN,...,"Set 5 years after the end of Superman II, the ...",154,Adventure|Fantasy|Action|Science Fiction,DC Comics|Legendary Pictures|Warner Bros.|Bad ...,6/28/06,834,5.3,2006,2.920507e+08,4.230205e+08
14,99861,tt2395427,5.944927,280000000,1405035767,Avengers: Age of Ultron,Robert Downey Jr.|Chris Hemsworth|Mark Ruffalo...,http://marvel.com/movies/movie/193/avengers_ag...,Joss Whedon,A New Age Has Come.,...,When Tony Stark tries to jumpstart a dormant p...,141,Action|Adventure|Science Fiction,Marvel Studios|Prime Focus|Revolution Sun Studios,4/22/15,4304,7.4,2015,2.575999e+08,1.292632e+09
7387,285,tt0449088,4.965391,300000000,961000000,Pirates of the Caribbean: At World's End,Johnny Depp|Orlando Bloom|Keira Knightley|Geof...,http://disney.go.com/disneypictures/pirates/,Gore Verbinski,"At the end of the world, the adventure begins.",...,"Captain Barbossa, long believed to be dead, ha...",169,Adventure|Fantasy|Action,Walt Disney Pictures|Jerry Bruckheimer Films|S...,5/19/07,2626,6.8,2007,3.155006e+08,1.010654e+09
3375,1865,tt1298650,4.955130,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃƒÂ©lope Cruz|Geoffrey Rush|Ian M...,http://disney.go.com/pirates/index-on-stranger...,Rob Marshall,Live Forever Or Die Trying.,...,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/11,3180,6.3,2011,3.683713e+08,9.904175e+08
2244,46528,tt1032751,0.250540,425000000,11087569,The Warrior's Way,Kate Bosworth|Jang Dong-gun|Geoffrey Rush|Dann...,http://www.iamrogue.com/thewarriorsway,Sngmoo Lee,Assassin. Hero. Legend.,...,An Asian assassin (Dong-gun Jang) is forced to...,100,Adventure|Fantasy|Action|Western|Thriller,Boram Entertainment Inc.,12/2/10,74,6.4,2010,4.250000e+08,1.108757e+07

# 1) Which are the movies with the third-lowest and third-highest budget?

In [48]:
#Sorting the dataset in ascending order of budget
df = df.sort_values(["budget"])
#Resetting the index of the sorted dataset
df = df.reset_index(drop = True)
#Printing the title & budget of the movie with the 3rd lowest budget
print('Title & budget of the movie with the 3rd lowest budget')
df.iloc[[2],[5,3]]  #Indices of the 'original_title' & 'budget' columns are 5 & 3 respectively

Title & budget of the movie with the 3rd lowest budget

        original_title  budget
2  Paranormal Activity   15000

In [49]:
#Sorting the dataset in descending order of budget
df = df.sort_values(["budget"], ascending=[False])
#Resetting the index of the sorted dataset
df = df.reset_index(drop = True)
#Printing the title & budget  of the movie with the 3rd highest budget
print('Title & budget of the movie with the 3rd highest budget')
df.iloc[[2],[5,3]]

Title & budget of the movie with the 3rd highest budget

                             original_title     budget
2  Pirates of the Caribbean: At World's End  300000000

# 2) What is the average number of words in movie titles between the years 2000-2005?

In [50]:
#Subsetting the movies which were released between 2000 & 2005
df2 = df[(df["release_year"] >= 2000) & (df["release_year"] <= 2005)]
df2.head()

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
26,254,tt0360717,1.508329,207000000,550000000,King Kong,Naomi Watts|Jack Black|Adrien Brody|Thomas Kre...,NaN,Peter Jackson,The eighth wonder of the world.,...,"In 1933 New York, an overly ambitious movie pr...",187,Adventure|Drama|Action,WingNut Films|Universal Pictures|Big Primate P...,12/14/05,1289,6.4,2005,2.311286e+08,6.141098e+08
33,558,tt0316654,1.304553,200000000,783766341,Spider-Man 2,Tobey Maguire|Kirsten Dunst|James Franco|Alfre...,http://www.sonypictures.com/movies/spider-man2/,Sam Raimi,There's a hero in all of us.,...,Peter Parker is going through a major identity...,127,Action|Adventure|Fantasy,Laura Ziskin Productions|Columbia Pictures Cor...,6/25/04,2735,6.4,2004,2.308891e+08,9.048154e+08
45,296,tt0181852,2.686888,200000000,435000000,Terminator 3: Rise of the Machines,Arnold Schwarzenegger|Nick Stahl|Claire Danes|...,NaN,Jonathan Mostow,The Machines Will Rise.,...,It's been 10 years since John Connor saved Ear...,109,Action|Thriller|Science Fiction,Columbia Pictures|Intermedia Films|Warner Bros...,7/2/03,1314,5.8,2003,2.370705e+08,5.156284e+08
56,411,tt0363771,3.628726,180000000,748806957,"The Chronicles of Narnia: The Lion, the Witch ...",William Moseley|Anna Popplewell|Skandar Keynes...,NaN,Andrew Adamson,Evil Has Reigned For 100 Years...,...,"Siblings Lucy, Edmund, Susan and Peter step th...",143,Adventure|Family|Fantasy,Walt Disney|Walden Media,12/7/05,1402,6.5,2005,2.009814e+08,8.360904e+08
69,652,tt0332452,3.177517,175000000,497409852,Troy,Brad Pitt|Orlando Bloom|Eric Bana|Brian Cox|Se...,NaN,Wolfgang Petersen,For passion. For honor. For destiny. For victo...,...,"In year 1250 B.C. during the late Bronze age, ...",163,War|Adventure|Drama,Plan B Entertainment|Warner Bros.|Nimar Studio...,5/13/04,1598,6.8,2004,2.020279e+08,5.742325e+08

In [51]:
print(f'Total Number of Movies: {df.shape}')
print(f'Number of Movies between 2000-2005: {df2.shape}')

Total Number of Movies: (5100, 21)
Number of Movies between 2000-2005: (988, 21)

In [52]:
#Creating a new column 'word_count' which stores the number of words in 'original_title'
df2['word_count'] = df2['original_title'].str.split().str.len()
df2[["original_title","word_count"]]

<ipython-input-52-0f7b709f365b>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['word_count'] = df2['original_title'].str.split().str.len()

                                         original_title  word_count
26                                            King Kong           2
33                                         Spider-Man 2           2
45                   Terminator 3: Rise of the Machines           6
56    The Chronicles of Narnia: The Lion, the Witch ...          11
69                                                 Troy           1
...                                                 ...         ...
5063                                      Super Size Me           3
5073                                The Call of Cthulhu           4
5075                                         Eating Out           2
5078                       The Kid Stays in the Picture           6
5096                      Star Wreck: In the Pirkinning           5

[988 rows x 2 columns]

In [53]:
#Storing 'word_count' in an array 'count'
count = np.array(df2['word_count'])
#Printing the mean of 'count' array
print(f'The average number of words in movie titles between the years 2000-2005: {np.mean(count)}')

The average number of words in movie titles between the years 2000-2005: 2.6862348178137654

# 4) Which are the movies with the most and least earned revenue?

In [54]:
#Removing the movies whose revenues are less than 100
df = df[df["revenue"] > 100]

In [55]:
#Printing the row of the movie with the highest revenue
highest_rev = df.original_title[df.revenue == df.revenue.max()]
print(f'The movie with the highest revenue: {highest_rev}')

The movie with the highest revenue: 17    Avatar
Name: original_title, dtype: object

In [56]:
#Printing the row of the movie with the least revenue
lowest_rev = df.original_title[df.revenue == df.revenue.min()]
print(f'The movie with the lowest revenue: {lowest_rev}')

The movie with the lowest revenue: 408    Charlotte's Web
Name: original_title, dtype: object

# 5) What is the average runtime of movies in the year 2006?

In [57]:
#Subsetting the list of movies which were released in 2006
df3 = df[df["release_year"] == 2006]
df3

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
4,1452,tt0348150,1.957331,270000000,391081192,Superman Returns,Brandon Routh|Kevin Spacey|Kate Bosworth|James...,http://www.superman.com,Bryan Singer,NaN,...,"Set 5 years after the end of Superman II, the ...",154,Adventure|Fantasy|Action|Science Fiction,DC Comics|Legendary Pictures|Warner Bros.|Bad ...,6/28/06,834,5.3,2006,2.920507e+08,4.230205e+08
24,36668,tt0376994,0.157586,210000000,234360014,X-Men: The Last Stand,Hugh Jackman|Halle Berry|Ian McKellen|Patrick ...,NaN,Brett Ratner,Take a Stand,...,"When a cure is found to treat mutations, lines...",104,Adventure|Action|Science Fiction|Thriller,20th Century Fox,5/24/06,2381,6.2,2006,2.271505e+08,2.535000e+08
29,58,tt0383574,4.205992,200000000,1065659812,Pirates of the Caribbean: Dead Man's Chest,Johnny Depp|Orlando Bloom|Keira Knightley|Bill...,http://disney.go.com/disneypictures/pirates/,Gore Verbinski,Jack is back!,...,The high-seas adventures of happy-go-lucky tro...,151,Adventure|Fantasy|Action,Walt Disney Pictures|Jerry Bruckheimer Films|S...,6/20/06,3181,6.8,2006,2.163338e+08,1.152691e+09
93,503,tt0409182,0.826011,160000000,181674817,Poseidon,Kurt Russell|Richard Dreyfuss|Josh Lucas|Jacin...,http://www2.warnerbros.com/poseidon/,Wolfgang Petersen,Mayday,...,A packed cruise ship traveling the Atlantic is...,99,Adventure|Action|Drama|Thriller,Virtual Studios|Next Entertainment|Warner Bros...,5/12/06,313,5.3,2006,1.730671e+08,1.965120e+08
108,956,tt0317919,3.098051,150000000,397850012,Mission: Impossible III,Tom Cruise|Philip Seymour Hoffman|Ving Rhames|...,http://www.missionimpossible.com/,J.J. Abrams,The Mission Begins 05:05:06.,...,Retired from active duty to train new IMF agen...,126,Adventure|Action|Thriller,Paramount Pictures|Cruise/Wagner Productions|S...,5/3/06,1363,6.3,2006,1.622504e+08,4.303421e+08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4799,1781,tt0497116,0.251388,1000000,46243000,An Inconvenient Truth,Al Gore|Billy West|Ronald Reagan|George W. Bus...,http://www.climatecrisis.net/,Davis Guggenheim,By far the most terrifying film you will ever ...,...,A documentary on Al Gore's campaign to make th...,100,Documentary,Lawrence Bender Productions|Participant Media,1/24/06,130,6.5,2006,1.081669e+06,5.001963e+07
4807,13185,tt0435680,0.461865,994000,165000,Kidulthood,Aml Ameen|Red Madrell|Noel Clarke|Adam Deacon|...,http://www.kidulthood.co.uk/,Menhaj Huda,Before adulthood comes...,...,A day in the life of a group of troubled 15-ye...,89,Drama,Cipher Films|Stealth Films Limited|TMC Films,3/3/06,25,6.5,2006,1.075179e+06,1.784754e+05
4928,12795,tt0443431,0.325485,500000,745327,Another Gay Movie,Michael Carbonaro|Jonah Blechman|Jonathan Chas...,http://www.profun.de/anothergaymovie/,Todd Stephens,NaN,...,"In the dirtiest, funniest, most scandalous gay...",92,Comedy|Romance,TLA Releasing|Luna Filmproduktion,4/28/06,28,5.1,2006,5.408346e+05,8.061972e+05
5049,18925,tt0805526,0.206454,100000,10178331,Facing the Giants,James Blackwell|Alex Kendrick|Shannen Fields|C...,http://www.facingthegiants.com/,Alex Kendrick,Never give up. Never back down. Never lose faith.,...,From the award-winning producers of FLYWHEEL c...,111,Drama,Destination Films,9/29/06,41,6.8,2006,1.081669e+05,1.100959e+07
5053,13484,tt0492619,0.139931,79000,245000,The Foot Fist Way,Danny McBride|Ben Best|Mary Jane Bostic|Jody H...,http://www.thefootfistway.com/,Jody Hill,NaN,...,An inept taekwondo instructor struggles with m...,85,Comedy,Gary Sanchez Productions,6/24/06,19,5.3,2006,8.545186e+04,2.650089e+05

In [58]:
print(f'Average runtime of movies released in 2006: {df.runtime.mean()}')

Average runtime of movies released in 2006: 109.30984808800419